#panel-sidebar-select-box {
width: 9px !important;
max-width: 9px !important;
min-width: 9px !important;
transition: all 0.1s;
}
#panel-sidebar-select-box:hover {
width: 42px !important;
max-width: 42px !important;
min-width: 42px !important;
}
